@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Silkscreen&display=swap");

/* Scrolling */
html {
    scroll-behavior: smooth;
}

/* Default */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Headings */
#about-heading {
    font-family: "Michroma", sans-serif;
    margin: 20px 50px;

}

#education-heading,
#work-heading,
#experience-heading {
    margin: 20px 320px;
    font-family: "Michroma", sans-serif;

}

/* Experience */
.experience-steps {
    margin-left: 200px;
}

/* Resposive */
@media only screen and (max-width:450px) {

    nav {
        margin: 20px 0px;
    }

    /* Introduction_Buttons */
    .btn_2 {
        display: inline-block;
        margin: 0px 25px;
    }

    /* About_Heading */
    #about-heading,

    #experience-heading {
        margin: 0px 110px;
    }

    /* Education */
    #education-heading {
        margin: 0px 85px;
    }

    .education_container {
        margin: 0px -190px;
    }

    /* Work */
    #work-heading {
        margin: 0px 125px;
    }

    #pdf_invoice {
        margin-top: 30px;
    }

    /* Experience */
    #experience-heading {
        margin: 0px 70px;
    }

    .experience_container {
        margin: 0px 20px;
    }
}