@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Silkscreen&display=swap");

/* Scrolling */
html {
    scroll-behavior: smooth;
}

/* Default */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: "Michroma", sans-serif; */
    /* background-color: #0a192f; */
    /* color: white; */
}

/* Headings */
#about-heading {
    margin: 20px 50px;
    font-size: 2.2rem;
    color: rgb(0, 153, 255);
    font-family: "Michroma", sans-serif;

}

#education-heading,
#work-heading,
#experience-heading {
    margin: 20px 280px;
    font-size: 2.2rem;
    color: rgb(0, 153, 255);
    font-family: "Michroma", sans-serif;

}

/* Experience */
.experience-steps {
    margin-left: 200px;
}